body {
  font-family: "Audiowide", cursive;
  background: black;
  color: white;
}

header {
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  padding-top: 60px;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    letter-spacing: 0.2em;

  
  }
  a:hover{
    color: red;
    transition: 0.3s ease;
  }

  .logo {
    font-size: 40px;
  }
}

.header__intro {
  display: flex;

  .header__text {
    width: 580px;
    height: 430px;
    margin-top: 130px;
    p {
      width: 350px;
      line-height: 26px;
      font-size: 18px;
      margin-bottom: 115px;
    }

    h1 {
      font-size: 50px;
    }
  }
}

.header__btn {
  display: flex;
  background: #8dfd1b;
  width: 205px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

 
}
.header__btn:hover{
  background: red;
  color: white;
  transition: 0.5s ease;
}

.header__about {
  display: flex;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
}

.text__left {
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 40px;
    color: #a8a8a8;
  }
}
.text__right {
  margin-left: 185px;

  width: 580px;
  height: 425px;

  h4 {
    color: #8dfd1b;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
  }
}

.text__btn {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-decoration: none;
  color: white;
  border: 1px solid green;
}

.text__btn:hover{
  background: red;
  color: white;
  transition: 0.5s ease;
}

.header__photo {
  display: flex;
  margin-top: 125px;
  flex-wrap: wrap;
  width: 1300px;
  height: 680px;
  justify-content: center;

  .gallery__artist {
    font-size: 50px;
    letter-spacing: 0.2em;
  }

  .gallery {
    margin-top: 120px;
  }

  img {
    margin-right: 60px;
    margin-bottom: 80px;
  }
}

//////////////////////////////////////////////////////////////////////

.section {
  margin-top: 350px;

  h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.section__img {
  margin-top: 120px;
}

.intro {
  display: flex;
  justify-content: center;

  h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  .intro__about {
    display: flex;
    margin-top: 60px;
    width: 880px;
    height: 538px;
    background: #222222;
  }

  .intro__img {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 40px;
  }

  .intro__text {
    h2 {
      width: 500px;
      height: 90px;
      color: #8dfd1b;
      margin-left: 65px;
      margin-top: 70px;
      font-weight: 400;
      letter-spacing: 0.1em;
    }

    p {
      font-weight: 400;
      margin-top: 28px;
    }
  }
}

///////////////////////////////////////////////////////////roadmap
.roadmap {
  position: relative;
}

.roadmap__image_first {
  position: absolute;
  left: 10%;
}
.roadmap__image_second {
  position: absolute;
  left: 50%;
  top: 30%;
}

.roadmap__desc {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  .roadmap__card {
    width: 550px;
    height: 280px;
    margin-bottom: 100px;
    background: #222222;
    border: 1px solid #8dfd1b;

    .card__subtitle {
      border-bottom: 1px solid #8dfd1b;
      p {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        text-align: center;
      }
    }

    .card__text {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.contacts {
  width: 1200px;
  height: 600px;
  display: flex;
  margin-top: 150px;
  img {
    margin-left: 200px;
  }
}

.discord {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;

  span {
    color: #8dfd1b;
  }

  h3 {
    font-size: 50px;
  }

  p {
    width: 350px;
  }

  a {
    margin-top: 30px;
    width: 220px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8dfd1b;
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    background: red;
    color: white;
    transition: 0.5s ease;
  }
}

.footer {
  background: #42006a;
  margin-top: 50px;
  .footer__title {
    padding-top: 70px;
    font-size: 30px;
    letter-spacing: 0.5em;
  }

  .footer__subtitle {
    margin-top: 70px;
    padding-bottom: 70px;
    letter-spacing: 0.3em;
  }
}
